.center {
	text-align: center;
	margin: 0 auto;
}
div {
	transform: scale(1);
  transition: transform 250ms ease-in-out;
  -webkit-transition: transform 250ms ease-in-out;
  -moz-transition: transform 250ms ease-in-out;
  -o-transition: transform 250ms ease-in-out;
}
h1 {
  font-weight: bold;
  font-size: 4em;
  margin-top: 10px;
}
.t {
  color: white;
  font-weight: bold;
  height: 5em;
  line-height: 5em;
  font-size: 3em;
}
.t1 {
  background-color: #2a3634;
}
.t2 {
  background-color: #3f3f3f;
}
.t3 {
  background-color: #322d16;
}
.t:hover {
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}
