#portfolio * {
    z-index: 2;
}
hr.star-primary {
    border-color: #2c3e50;
}
hr.star-light, hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}
hr {
    margin-top: 21px;
    margin-bottom: 21px;
    border: 0;
    border-top: 1px solid #ecf0f1;
}
hr {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheethr {
    display: block;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    border-style: inset;
    border-width: 1px;
}
Inherited from div.col-lg-12.text-center
.text-center {
    text-align: center;
}
Inherited from body#page-top.index
body {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.42857143;
    color: #2c3e50;
    background-color: #ffffff;
}
Inherited from html
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
Pseudo ::before element
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
Pseudo ::after element
hr.star-primary:after {
    color: #2c3e50;
    background-color: #fff;
}
hr.star-light:after, hr.star-primary:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
	background-color: white;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a:focus {
    outline-width: 0;
}  
 
hr.soften {
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  border: 0;
}
 
.center {
	text-align: center;
}

.navbar {
	border-radius: 0 !important;
}

.img {
	width: 13em;
	
	border-radius: 50%;
    behavior: url(PIE.htc);

    padding: 8px;

    background: #fff;
    border: 2px solid #666;
    color: #666;
}

.img:hover  {
	border: 2px solid rgb(204,178,163);
	animation: imgHoverOn .5s forwards;
	-ms-animation: imgHoverOn .5s forwards;
	-webkit-animation: imgHoverOn .5s forwards;
}
@-moz-keyframes imgHoverOn{
	100% { -webkit-transform: scale(1.1); }
}
@-webkit-keyframes imgHoverOn{
	100% { -webkit-transform: scale(1.1); }
}
@-ms-keyframes imgHoverOn{
	100% { -webkit-transform: scale(1.1); }
}


hr.slash {
	height: 6px;
	background: url(img/slash.png) repeat-x 0 0;
    border: 0;
}

#img {
	width: 95%;
	height: 95%; 
	padding: 2em;
}


/* SLIDING */
.slidingVertical {
	animation: topToBottom .5s forwards;
	-ms-animation: topToBottom .5s forwards;
	-webkit-animation: topToBottom .5s forwards;
	overflow: hidden;
	opacity: 0;
}
.delay1 {
	animation-delay: .1s;
	-ms-animation-delay: .1s;
	-webkit-animation-delay: .1s;
}
.delay2 {
	animation-delay: .2s;
	-ms-animation-delay: .2s;
	-webkit-animation-delay: .2s;
}
.delay3 {
	animation-delay: .3s;
	-ms-animation-delay: .3s;
	-webkit-animation-delay: .3s;
}
.delay4 {
	animation-delay: .4s;
	-ms-animation-delay: .4s;
	-webkit-animation-delay: .4s;
}
.delay5 {
	animation-delay: .5s;
	-ms-animation-delay: .5s;
	-webkit-animation-delay: .5s;
}
.delay6 {
	animation-delay: .6s;
	-ms-animation-delay: .6s;
	-webkit-animation-delay: .6s;
}
.delay7 {
	animation-delay: .7s;
	-ms-animation-delay: .7s;
	-webkit-animation-delay: .7s;
}
@-moz-keyframes topToBottom{
	0% { opacity: 0; }
	50% { opacity: 0; -webkit-transform: translateY(-25px); }
	100% { opacity: 1; -webkit-transform: translateY(0px); }
}
@-webkit-keyframes topToBottom{
	0% { opacity: 0; }
	50% { opacity: 0; -webkit-transform: translateY(-25px); }
	100% { opacity: 1; -webkit-transform: translateY(0px); }
}
@-ms-keyframes topToBottom{
	0% { opacity: 0; }
	50% { opacity: 0; -webkit-transform: translateY(-25px); }
	100% { opacity: 1; -webkit-transform: translateY(0px); }
}
/* SLIDING */
