.center, h1 {
	text-align: center;
	margin: 0 auto;
}
.slidingVertical {
	animation: topToBottom .5s forwards;
	-ms-animation: topToBottom .5s forwards;
	-webkit-animation: topToBottom .5s forwards;
	overflow: hidden;
	opacity: 0;
}
.delay1 {
	animation-delay: .1s;
	-ms-animation-delay: .1s;
	-webkit-animation-delay: .1s;
}
.delay2 {
	animation-delay: .2s;
	-ms-animation-delay: .2s;
	-webkit-animation-delay: .2s;
}
.delay3 {
	animation-delay: .3s;
	-ms-animation-delay: .3s;
	-webkit-animation-delay: .3s;
}
@-moz-keyframes topToBottom{
	0% { opacity: 0; }
	50% { opacity: 0; -webkit-transform: translateY(-25px); }
	100% { opacity: 1; -webkit-transform: translateY(0px); }
}
@-webkit-keyframes topToBottom{
	0% { opacity: 0; }
	50% { opacity: 0; -webkit-transform: translateY(-25px); }
	100% { opacity: 1; -webkit-transform: translateY(0px); }
}
@-ms-keyframes topToBottom{
	0% { opacity: 0; }
	50% { opacity: 0; -webkit-transform: translateY(-25px); }
	100% { opacity: 1; -webkit-transform: translateY(0px); }
}
.square {
    float:left;
    position: relative;
    width: 10%;
    padding-bottom : 10%; /* = width for a 1:1 aspect ratio */
    margin:.555%;
    background-color:#3f4956;
    overflow:hidden;
}
.table-cell {
	border-style: dashed;
	border-color: #2a333c;
}
.content {
    position:absolute;
    height:100%;
    width:100%;
    font-size: 1.3em;
}
.table{
    display:table;
    width:100%;
    height:100%;
}
.table-cell{
    display:table-cell;
    vertical-align:middle;
    text-align: center;
	margin: 0 auto;
}
.just > div {
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 30%;
    text-align: center;
}