.center, h1, h3, h4, p, a {
	text-align: center;
	margin: 0 auto;
	font-family: "League-Gothic", Courier;
	color: white;
}
div, pre {
	font-family: "League-Gothic", Courier;
}
pre {
	color: white;
	background-color: #060606;
}
a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}
.img:hover  {
	animation: imgHoverOn .5s forwards;
	-ms-animation: imgHoverOn .5s forwards;
	-webkit-animation: imgHoverOn .5s forwards;
	z-index: 2147483647;
}
@-moz-keyframes imgHoverOn{
	100% { -webkit-transform: scale(1.3); }
}
@-webkit-keyframes imgHoverOn{
	100% { -webkit-transform: scale(1.3); }
}
@-ms-keyframes imgHoverOn{
	100% { -webkit-transform: scale(1.3); }
}
.slidingVertical {
	animation: topToBottom .5s forwards;
	-ms-animation: topToBottom .5s forwards;
	-webkit-animation: topToBottom .5s forwards;
	overflow: hidden;
	opacity: 0;
}
.delay1 {
	animation-delay: .1s;
	-ms-animation-delay: .1s;
	-webkit-animation-delay: .1s;
}
.delay2 {
	animation-delay: .2s;
	-ms-animation-delay: .2s;
	-webkit-animation-delay: .2s;
}
.delay3 {
	animation-delay: .3s;
	-ms-animation-delay: .3s;
	-webkit-animation-delay: .3s;
}
.delay4 {
	animation-delay: .4s;
	-ms-animation-delay: .4s;
	-webkit-animation-delay: .4s;
}
.delay5 {
	animation-delay: .5s;
	-ms-animation-delay: .5s;
	-webkit-animation-delay: .5s;
}
.delay6 {
	animation-delay: .6s;
	-ms-animation-delay: .6s;
	-webkit-animation-delay: .6s;
}
.delay7 {
	animation-delay: .7s;
	-ms-animation-delay: .7s;
	-webkit-animation-delay: .7s;
}
@-moz-keyframes topToBottom{
	0% { opacity: 0; }
	50% { opacity: 0; -webkit-transform: translateY(-25px); }
	100% { opacity: 1; -webkit-transform: translateY(0px); }
}
@-webkit-keyframes topToBottom{
	0% { opacity: 0; }
	50% { opacity: 0; -webkit-transform: translateY(-25px); }
	100% { opacity: 1; -webkit-transform: translateY(0px); }
}
@-ms-keyframes topToBottom{
	0% { opacity: 0; }
	50% { opacity: 0; -webkit-transform: translateY(-25px); }
	100% { opacity: 1; -webkit-transform: translateY(0px); }
}
.square {
    float:left;
    position: relative;
    width: 24%;
    padding-bottom : 24%; /* = width for a 1:1 aspect ratio */
    margin:.5%;
    background-color:#1E1E1E;
    overflow:hidden;
}
.content {
    position:absolute;
    height:100%;
    width:100%;
    font-size: 1.3em;
}
.table{
    display:table;
    width:100%;
    height:100%;
}
.table-cell{
    display:table-cell;
    vertical-align:middle;
    text-align: center;
	margin: 0 auto;
}
.well {
	padding-bottom: 0px;
}
/* customize */
div {
	font-size: 1.1em;
	transform: scale(1);
  	transition: transform 250ms ease-in-out;
}
#score {
	transform: scale(2);
}